/* MINTY: https://bootswatch.com/minty/ */

.big-container {
    margin-top: 10px;
}

.big-container button {
    margin-left: 5px;
}

.array-container {
    /*background: lightblue;*/
    position: relative;
    margin: auto;
    margin-top: 5px;
    width: 80%;
}

.array-bar {
    display: inline-block;
    vertical-align: top;
    background: #6cc3d5;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}

.slidercontainer {
    width: 100%;
}

.slider {
    width: 30%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-top: 10px;
    height: 20px;
    border-radius: 10px;
    background: #48bd86; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #6103b9; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #6103b9; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }